<h2>Category show</h2>

<ul>
  <% @category.products.each do |product| %>
    <li>
      <%= link_to(product.name, type_products_path(product.id))  %>
    <%= image_tag(product.img) %>
      </li>
  <% end %>
</ul>
