<div class="orders-container">
  <% @orders.each do |order| %>
    <div class="order-info">
       <ul>
          <li>
          <% order.products.each do |product| %>
          
          <h3><%= product.name %></h3>
          <p>£<%= product.price %></p>
          <p>£<%= order.amount %></p>
          <p><%= order.created_at %></p>
        <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</div>


