
e-commerce-site/app/assets/images/.keep

client/js/views/templates/_head.ejs

client/js/models/customer.js

client/index.html

client/js/script.js

client/index.html

client/js/views/templates/_head.ejs

client/index.html

client/js/models/customer.js

client/js/models/product.js

client/js/script.js

client/index.html

client/js/views/templates/_head.ejs

client/index.html

client/js/models/customer.js

client/js/models/product.js

client/index.html

client/index.html

client/js/script.js
