
    <div class="col-xs-8">
      <h4><%= product.name %></h4>
      <p><%= product.price %></p>

    </div>















      <%#= form_for @order  do |f| %>
<!--         <h4 class="text-right">Unit Price: <span style="color: green"><%#=product.price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
           
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%#= f.submit "Update Quantity", class: "btn btn-primary cart-button" %>
              
            </div>
          </div>
        </div>
      <%# end %>
    </div>

  </div>
</div>
 -->